@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

body {
  padding: 0;
  margin: 0; 
  height: 100vh;
 /* background: #18191f;*/
 background: : #ffffff;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  position: relative;
  display: flex;
}

li {
  list-style: none;
}

label {
  position: relative;
}

.glow {
  font-size: 80px;
  color: #e6e6e6;
  text-align: center;

  position: relative;
  height: 80px;
  width: 80px;
  background: #ffffff;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(255, 240, 240, 0.1);
}

.glow:hover {
  color: #fff;
   -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #23c2c2, 0 0 40px #23c2c2;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #c9def2, 0 0 40px #accbe8, 0 0 50px #8a9fe3;
  }
}