.columns {
	display: flex;
	flex-direction: column;
}

body {
	margin: auto;
		font-family: 'Helvetica Neue', sans-serif;

}

/* independently scrolling columns CSS code based on: 
https://newbedev.com/independent-column-scroll-in-html-page */

.caption-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 35%;
  height: 90%;
  overflow: auto;
}

.title {
	font-size: 2em;
	text-align: left;

}

.caption {
	scroll-snap-align: start;
	color: black;
	text-align: left;
	font-weight: 500;
	font-size: 3em;
	width: 50%;
}

.caption:hover {
	color: #1DA1F2;
}

.image-col-single {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 65%;
  height: 90%;
  right: 0;
  overflow: auto;
}

.image-col-single img:hover {
	transform: scale(1.005);
}

.image-col-single-gallery {
	display: none;
}

.image-col-grid {
	display: none;
	flex-direction: column;
	align-items: center;
	position: fixed;
	width: 65%;
	height: 100%;
	right: 0;
	overflow: auto;
}

.image-col-gallery {
	width: 100%;
	display: flex;
}

.row {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-bottom: 30px;
	justify-content: space-evenly;
}

.row-top {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-bottom: 30px;
	justify-content: space-evenly;
	padding-top: 30px;
}

.row-bottom {
	display: flex;
	width: 100%;
	flex-direction: row;
	padding-bottom: 10%;
	justify-content: space-evenly;
}

.options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.gallery-button-visible {
	visibility: visible;
	margin-top: 15px;
  padding: 15px 40px;
  border: 2px solid black;
  color:  black;
  font-size:  1.1em;
  text-align:  center;
  transition:  all 100ms;
  border-color: black;
  width: 10%;
}

.gallery-button {
	visibility: hidden;
	margin-top: 15px;
  padding: 15px 40px;
  border: 2px solid black;
  color:  black;
  font-size:  1.1em;
  text-align:  center;
  transition:  all 100ms;
  border-color: black;
  width: 10%;
}

.gallery-button-visible:hover {
	background-color: black;
	color: white;
}

.gallery-button-toggled {
	background-color: black;
	color:  white;
}

.gallery-button-toggled:hover {
	background-color: white;
	color:  black;
}

.arrow {
	padding-top: 1%;
}

.arrow:hover {
	fill: #1DA1F2;
}
.overlay {
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-cell img {
	width: 200px;
	height: 200px;
	object-fit: cover;

	/*   opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden; */
}

.img-cell-large img {
	width: 600px;
	height: 600px;
	object-fit: cover;
}

.img-cell-gallery:hover {

}

.img-cell:hover .overlay {
  opacity: 1;
}

.text-overlay {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.padding {
	padding-top: 30px;
}

@media only screen and (max-width: 480px) {
	.columns {
		display: none;
	}
}

/* add specific image adjustment classes for different directions */

