.large-header {
	font-family: 'Cormorant', serif;
	font-size: 54px;
	font-weight: 700;
	text-decoration: none;
	color: white;
}

.section-header {
	font-family: 'Cormorant', serif;
	font-size: 24px;
}

.intro-flex {
	display: flex;
	flex-direction: row;
}

.intro-flex p {
	margin-right: 5%;
	margin-bottom: 3%;
	width: 50%;
}

iframe {
	float: right;
	width: 50%;
	margin-left: 1%;
	margin-bottom: 1%;
}

.side {
	float: right;
	margin-bottom: 1%;
	margin-left: 1%;
}

.quote {
	float: right;
	margin-left: 5%;
	font-size: 24px;
}
.intro-flex img {
	width: 100%;
/*	float: right;
	margin-left: 2%; */
}

.cell {
}

.cell p {
	font-size: 16px;
}

.side-col {
	display: flex;
	flex-direction: column;
}

.table {
	display: flex-display;
	flex-direction: column;
	justify-content: center;
			align-items: center;

}

.theme-header {
	font-family: 'Cormorant', serif;
	font-size: 18px;
	font-weight: 700;
}

section {
	font-size: 24px;
}

img {
	filter: grayscale(70%);
}

iframe {
	filter: grayscale(70%);
}

body {
	margin-left: 30px;
	margin-right: 30px;
	background-color: #2e4a3e;
	color: white;
}

p {
	font-weight:  500;
	font-family: 'Cormorant', serif;
	line-height: 175%;
	font-size: 16px;

}
