body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 0;
	margin-bottom: 0;

	height: 100%;
	overscroll-behavior-y: none;
}

.time-display {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	top: 2%;
	left: 85%;
}


#time {
	min-width: 70%;
	font-size: 24px;
	font-weight: 600;
}

#song {
	font-style: italic;
}

#song-info {
	min-width: 70%;
	padding-left: 2%;
	font-size: 16px;
	font-weight: 400;
}

#song-info:hover {

}

#frame {
	min-width: 100%;
	position: absolute;
	top: 9%;
	left: 89.5%;
}

#granim-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#lyrics {
	position: absolute;
	top: 5%;
	left: 5%;
	max-width: 30%;
}
