body {
	font-family: 'Open Sans', sans-serif;
	color: white;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;

	height: 100%;
	overflow: hidden;
}

.time-display {
	position: absolute;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	top: 2%;
	left: 85%;
}


#time {
	min-width: 70%;
	font-size: 24px;
	font-weight: 600;
}

#song {
	font-style: italic;
}

#song-info {
	min-width: 70%;
	padding-left: 2%;
	font-size: 16px;
	font-weight: 400;
}

.menu {
	position: absolute;
	width: 3.5%;
	height: 3.5%;
	top: 2%;
	left: 2%;
}

.pages {
	visibility: hidden;
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 2%;
	top: 2%;
	width: 15%;
	height: 40%;
	color: black;
	background: rgb(255, 255, 255, .5);
	border-radius: 7%;
}

.link {
	visibility: hidden;
	padding-top: 5%;
	padding-left: 10%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-decoration: none;
	color: black;
}

.pages-open {
	visibility: visible;
}

.menu:hover {
	fill: #787878;
}

#frame {
	min-width: 100%;
	position: absolute;
	top: 9%;
	left: 89.5%;
}

#granim-canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

